*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: #0093e9;

min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
transition: 0.2s ease-in-out;
}

.outer {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50px;

}

.toggle-btn {
    min-width: 200px;
    background-color: #000000c6;
    border: none;
    height: 50px;
    border-radius: 50px;
}

.circle {
    height: 50px;
    background-color: #FF2600fd;
    /*background-color: #000000;*/
    width: 100px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    transition: 0.2s ease-in-out;
    /*transform: translateX(100px);*/
    transform: none;
}


.circle ion-icon{
    font-size: 25px;
    color: #ffffff;
}